.first {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
}

.second {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: forestgreen;
    display: inline-block;
    position: relative;
    top: 100px;
    left: 100px;
}

.third {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
}