.first {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
}

.second {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: forestgreen;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
}

.third {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
    transition: 1s;
}

.third:hover {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: teal;
    display: inline-block;
}