header h1 {
    color: green;
    text-align: center;
    font-weight: bold;
}

#underline {
    color: blueviolet;
    text-decoration: underline;
}

aside {
    line-height: 200%;
    border: solid 1px blueviolet;
    padding: 10px;
}

footer {
    letter-spacing: 0.3rem;
    text-align: center;
    color: green;
    font-family: sans-serif;
}

nav {
    font-size: 1.2rem;
    text-align: center;
    font-family: sans-serif;
}

nav :hover {
    color: blue;
}

p::first-letter {
    font-size: 2rem;
}

p::first-line {
    color: green;
}
