header h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #5E936C;
}

#underline {
    color: blueviolet;
    text-decoration: underline;
}

aside {
    line-height: 200%;
    border: solid 1px blueviolet;
    padding: 10px;
    background-color: #E8FFD7;
    text-align: center;
    opacity: 0.5;
}

footer {
    letter-spacing: 0.3rem;
    text-align: center;
    color: green;
    font-family: sans-serif;
}

nav {
    font-size: 1.1rem;
    text-align: center;
    font-family: sans-serif;
}

nav .link {
    display: inline;
}

nav :hover {
    color: blue;
}

p::first-letter {
    font-size: 2rem;
}

p::first-line {
    color: green;
}

.theMain {
    background-color: white;
    opacity: 0.7;
}

.mainParagraph {
    background-image: url('forest.jpg');
    background-size: cover;
    /* color: blueviolet; */
}

